In [43]:
from fastapi import FastAPI, HTTPException
from typing import Union, Optional
import pandas as pd

In [44]:
app = FastAPI()

In [45]:
df = pd.read_csv('Periodic_Table.csv')
df

,atomic_number,symbol,element_name,atomic_weight,period,group,stp,melting_point,boiling_point,density,electronegativity,first_ionization_energy,atomic_radius,num_protons,num_neutrons,num_electrons,classification
0,1,H,Hydrogen,1.00797,1,1,gas,-259.14,-252.87,88.0,2.20,1312.00,25.0,1,0,1,NonMetal
1,2,He,Helium,4.00260,1,18,gas,NaN,‑268.93,214.0,NaN,2372.32,31.0,2,2,2,NonMetal
2,3,Li,Lithium,6.94100,2,1,solid,180.54,1342,535.0,0.98,520.20,145.0,3,4,3,Alkali Metal
3,4,Be,Beryllium,9.01218,2,2,solid,1287.00,2470,1848.0,1.57,899.50,105.0,4,5,4,Alkaline Earth Metal
4,5,B,Boron,10.81000,2,13,solid,2075.00,4000,2460.0,2.04,800.60,85.0,5,6,5,Metalloid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,114,Fl,Flerovium,289.00000,7,3,solid,NaN,NaN,NaN,NaN,NaN,NaN,114,175,114,Unknown
114,115,Mc,Moscovium,290.00000,7,3,solid,NaN,NaN,NaN,NaN,NaN,NaN,115,174,115,Unknown
115,116,Lv,Livermorium,293.00000,7,3,solid,NaN,NaN,NaN,NaN,NaN,NaN,116,177,116,Unknown
116,117,Ts,Tennessine,294.00000,7,3,solid,NaN,NaN,NaN,NaN,NaN,NaN,117,177,117,Unknown
117,118,Og,Oganesson,294.00000,7,3,solid,NaN,NaN,NaN,NaN,NaN,NaN,118,176,118,Unknown

In [46]:
@app.get('/')
async def root():
    return {'message': 'Hello World, This is an API to get Data about Elements in the Periodic Table'}

In [47]:
@app.get("/element/name/{element_name}")
async def read_element_by_name(element_name: str, data_item: Optional[str] = None):
    if element_name not in df['element_name'].values:
        raise HTTPException(status_code=404, detail="Element not found: invalid Element Name")
    element_data = df[df['element_name'] == element_name]

    # If there's no such element, return a 404.
    if element_data.empty:
        raise HTTPException(status_code=404, detail="Element not found: no element identifier provided")

    # If data_item is None, return all data for the element.
    if data_item is None:
        return element_data.to_dict(orient='records')[0]

    # If the requested data item is not a column in the DataFrame, return a 404.
    if data_item not in df.columns:
        raise HTTPException(status_code=404, detail=f"Data item not found: {data_item}")

    # Otherwise, return the requested data item for the specified element.
    return {data_item: element_data[data_item].values[0]}

In [48]:
@app.get("/element/number/{atomic_number}")
async def read_element_by_number(atomic_number: int, data_item: Optional[str] = None):
    if atomic_number not in df['atomic_number'].values:
        raise HTTPException(status_code=404, detail="Element not found: invalid Atomic Number")
    element_data = df[df['atomic_number'] == atomic_number]

    # If there's no such element, return a 404.
    if element_data.empty:
        raise HTTPException(status_code=404, detail="Element not found: no element identifier provided")

    # If data_item is None, return all data for the element.
    if data_item is None:
        return element_data.to_dict(orient='records')[0]

    # If the requested data item is not a column in the DataFrame, return a 404.
    if data_item not in df.columns:
        raise HTTPException(status_code=404, detail=f"Data item not found: {data_item}")

    # Otherwise, return the requested data item for the specified element.
    return {data_item: element_data[data_item].values[0]}